{% extends 'layouts/blank.html' %}

{% block content %}

<div class="profile">
    <img class="profile__avatar" src="{{ profile.avatar }}" />
    <div>
        <h1 class="profile__name">{{ profile.name }}</h1>
        <div class="profile__username">@{{ profile.user.username }}</div>
        {% if profile.info %}
        <div class="profile__info">{{ profile.info|linebreaksbr }}</div>
        {% endif %}
        {% if profile.user != user %}
        <a class="btn" href="{% url 'start-chat' profile.user.username %}">Chat with me</a>
        {% endif %}
    </div>
</div>

{% endblock %}