{% extends 'layouts/box.html' %}

{% block content %}

<h1 class="mb-8">Account Settings</h1>

<table class="settings-table">
    <tbody>
        <tr>
            <th scope="row">
                Email address
            </th>
            <td id="email-address">
                {% if user.email %}{{ user.email }}{% else %}No Email{% endif %}
            </td>
            <td class="settings-right-column">
                <a id="email-edit" class="btn settings-link"
                    hx-get="{% url 'profile-emailchange' %}"
                    hx-target="#email-address"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </td>
        </tr>

        <tr>
            <th scope="row">
                Verified?
            </th>
            <td>
                {% if user.emailaddress_set.first.verified %}
                <span class="status-verified">Verified</span>{% else %}
                <span class="status-unverified">Not verified</span>
                {% endif %}
            </td>
            <td class="settings-right-column">
                <a href="{% url 'profile-emailverify' %}" class="btn settings-link">
                    {% if not user.emailaddress_set.first.verified %}Verify{% else %}✓{% endif %}
                </a>
            </td>
        </tr>

        <tr>
            <th scope="row">
                Username
            </th>
            <td id="username">
                {{ user.username }}
            </td>
            <td class="settings-right-column">
                <a id="username-edit" class="btn settings-link"
                    hx-get="{% url 'profile-usernamechange' %}"
                    hx-target="#username"
                    hx-swap="innerHTML" >
                    Edit
                </a>
            </td>
        </tr>

        <tr>
            <th scope="row">
                Delete Account
            </th>
            <td>
                Once deleted, account is gone. Forever.
            </td>
            <td class="settings-right-column">
                <a href="{% url 'profile-delete' %}" class="btn settings-link settings-link--danger">
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}
