{% extends 'layouts/box.html' %}

{% block content %}

<h1>Edit Chat</h1>

<form method="post" class="form">
    {% csrf_token %}
    {{ form }}

    <div class="edit-member-list">
    <h2>Members</h2>
    {% for member in chat_group.members.all %}
    <div class="edit-member-item">
        <div class="edit-member-info">
            <img class="edit-member-avatar" src="{{ member.profile.avatar }}" />
            <div>
                <div class="edit-member-name">{{ member.profile.name }}</div> 
                <div class="edit-member-username">@{{ member.username }}</div>
            </div>
        </div>
        
        {% if member != chat_group.admin %}
        <div>
            <input type="checkbox" name="remove_members" value="{{ member.id }}" class="remove-checkbox" />
        </div>
        {% endif %}
    </div> 
    {% endfor %}
    </div>

    <div class="form__actions">
        <button class="btn" type="submit">Update</button>
    </div>
</form>

<a href="{% url 'chatroom-delete' chat_group.group_name %}" class="settings-link settings-link--danger">Delete Chatroom</a>

{% endblock %}
 